.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: #000000;
  --oceancolor: #404bbf;
  --whitecolor: #ffffff;
  --slatecolor: #434455;
  --card-border-color: #eeeeee;
}

* {
  font-family: "Roboto", sans-serif;
  color: #434455;
  text-decoration: none;
}

.body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

/*new*/

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  width: 1200px;
  /*padding: 0, 15px;*/
  margin: 0, auto;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0, 15px, 0, 15px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

/*header*/

.header {
  background-color: #ffffff;
  padding: 24px, 0, 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px, solid, #e7e9fc;
}

/*list is new*/
.list {
  width: 1158px;
  padding: 0, 15px;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  text-decoration: none;
  /*added margin right*/
  margin-right: 76px;
  /*border-bottom: 1px, solid, #e7e9fc;*/
  display: flex;
}

.accent {
  color: #2e2f42;
}

.list .item {
  color: var(--navcolor);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /*color: #434455;*/
  align-items: center;
}

.list .item:hover,
.list .item:focus,
.list .contact:hover,
.list .contact:focus {
  color: #404bbf;
}

.item {
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*section1*/

.section-one {
  background-color: var(--navyblue);
  padding: 188px, 0, 188px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.address {
  font-style: normal;
}

/*list changed*/

.list {
  list-style: none;
  display: flex;
  gap: 40px;
  position: relative;
  left: 76px;
}

.contact-item .contact {
  color: var(--navcolor);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-hero {
  color: var(--whitecolor);
  font-size: 56px;
  font-weight: 800;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  /*new*/
  max-width: 496px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  border-style: hidden;
  border-radius: 4px;
  cursor: pointer;
  color: var(--whitecolor);
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  min-height: 56px;
  border: none;
}

.btn {
  background-color: #4d5ae5;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/*section2*/

.section-part {
  padding: 120px, 0, 120px;
  padding-bottom: 120px;
  padding-top: 120px;
}

.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  visibility: hidden;
  position: absolute;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.featuring {
  gap: 24px;
  margin-right: 24px;
  margin-right: 0;
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*section3*/
.service-list {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding-bottom: 120px;
}

/*section4*/
.section-four {
  background-color: #f4f4fd;
}

.features-title {
  letter-spacing: 0.02em;
}

.service-item {
  background-color: #ffffff;
}

/*footer*/
.footer {
  background-color: #2e2f42;
}

.footer-accent {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

/*portfolio*/

.portfolio .button {
  font-family: "Roboto", sans-serif;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

.header-list {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.header-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
