.html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: #000000;
  --oceancolor: #404bbf;
  --whitecolor: #ffffff;
  --slatecolor: #434455;
  --card-border-color: #eeeeee;
}

* {
  font-family: "Roboto", sans-serif;
  color: #434455;
  text-decoration: none;
}

.body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

/*new*/

img {
  display: block;
}

.link {
  width: 1200px;
  margin: 0, auto;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*header*/

.header-container {
  display: flex;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  background: var(--whitecolor);
  padding: 24px 0;
}

.nav,
.address {
  display: flex;
  align-items: center;
}

.nav > .list {
  display: flex;
  gap: 40px;
}

.address > .list {
  display: flex;
  gap: 40px;
}

/*list is new*/
.list {
  width: 1158px;
  padding: 0, 15px;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.accent {
  color: #2e2f42;
}

.list .item {
  color: var(--navcolor);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  align-items: center;
}

.list-items > .item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.list .item:hover,
.list .item:focus,
.list .contact:hover,
.list .contact:focus {
  color: #404bbf;
}

.item {
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-item > .contact {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*section1*/

.section-one {
  background-color: var(--navyblue);
  padding: 188px, 0, 188px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.address {
  font-style: normal;
}

.list {
  list-style: none;
  display: flex;
  gap: 40px;
  position: relative;
  left: 76px;
  margin-bottom: 72px;
}

.contact-item .contact {
  color: var(--navcolor);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-hero {
  color: var(--whitecolor);
  font-size: 56px;
  font-weight: 800;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  border-style: hidden;
  border-radius: 4px;
  cursor: pointer;
  color: var(--whitecolor);
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  min-height: 56px;
  border: none;
}

.btn {
  background-color: #4d5ae5;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/*section2*/

.section-two {
  padding: 120px 0;
}

.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  visibility: hidden;
  position: absolute;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-list > .featuring-info {
  width: calc((100% - 3 * 24px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.featuring {
  gap: 24px;
  margin-right: 24px;
  margin-right: 0;
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);
}

.features-list {
  display: flex;
  gap: 24px;
}

.features {
  margin-bottom: 8px;
  width: calc((100% - 3 * 24px) / 4);
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*section3*/
.section-three {
  padding: 120px;
}

.service-list {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;

  padding-bottom: 120px;
  margin-bottom: 72px;
}

.service-help {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
  margin-right: 0;
}

.service-list {
  display: flex;
  gap: 24px;
}

.service-list > .features-info {
  width: calc((100% - 3 * 16px) / 3);
}

/*section4*/
.team-item {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.section-four {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list > .team-item {
  width: calc((100% - 3 * 24px) / 4);
}

.team-header {
  margin-bottom: 72px;
}

.team-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
}

.team-div {
  padding: 32px 0;
}

.features-title {
  letter-spacing: 0.02em;
}

.service-item {
  background-color: #ffffff;
}

/*footer*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-accent {
  color: #f4f4fd;
}

.footer-info {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

/*portfolio*/

.portfolio .button {
  font-family: "Roboto", sans-serif;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;

  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
  border: 1px solid transparent;
}

.function-item {
  width: calc((100% - 48px) / 3);
}

.header-list {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;

  margin-bottom: 8px;
}

.header-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
